<%= render "layouts/navbar" %>
<section class="privacy-policy-terms">
  <h3><b>Privacy policy:</b></h3>
  <div>
    <h4><b>Introduction:</b></h4>
    <ul>
      <li>Explain the purpose of the privacy policy.</li>
      <li>Describe the scope of the policy (what data is collected, how it's used, etc.).</li>
    </ul>
  </div>

  <div>
    <h4><b>Information Collected:</b></h4>
    <ul>
      <li>Specify the types of information collected (personal, non-personal, cookies, etc.).</li>
      <li>Explain how this information is obtained (registration, cookies, analytics, etc.).</li>
    </ul>
  </div>

  <div>
    <h4><b>Introduction:</b></h4>
    <ul>
      <li>Explain the purpose of the privacy policy.</li>
      <li>Describe the scope of the policy (what data is collected, how it's used, etc.).</li>
    </ul>
  </div>

  <div>
    <h4><b>Use of Information:</b></h4>
    <ul>
      <li>Detail how collected data is used (improving services, communication, research, etc.).</li>
      <li>Mention if information is shared with third parties and for what purposes.</li>
    </ul>
  </div>

  <div>
    <h4><b>Data Security:</b></h4>
    <ul>
      <li>Explain security measures in place to protect user data.</li>
      <li>Detail encryption, access controls, and any other security practices.</li>
    </ul>
  </div>

  <div>
    <h4><b>User Rights:</b></h4>
    <ul>
      <li>Explain user rights regarding their data (access, correction, deletion, etc.).</li>
      <li>Provide information on how users can exercise these rights.</li>
    </ul>
  </div>

  <div>
    <h4><b>Cookies and Tracking:</b></h4>
    <ul>
      <li>Explain the use of cookies and tracking technologies.</li>
      <li>Provide options for users to manage cookies.</li>
    </ul>
  </div>

  <div>
    <h4><b>Updates to Policy:</b></h4>
    <ul>
      <li>Mention how and when the policy will be updated.</li>
      <li>Notify users about any changes made to the policy.</li>
    </ul>
  </div>
</section>
<%= render "layouts/footer" %>