<%= render "layouts/navbar" %>

<section class="pricing-section">
  <div class="pricing-card">
    <h2>Undergraduate</h2>
    <p class="price">$15/mo</p>
    <ul class="features">
        <li>10 Projects</li>
        <li>15 GB Storage</li>
        <li>Email Support</li>
    </ul>
  </div>
  <div class="pricing-card">
      <h2>Graduate</h2>
      <p class="price">$20/mo</p>
      <ul class="features">
          <li>20 Projects</li>
          <li>50 GB Storage</li>
          <li>Priority Email Support</li>
      </ul>
  </div>
  <div class="pricing-card">
      <h2>Corporate</h2>
      <p class="price">$120/mo</p>
      <ul class="features">
          <li>Unlimited Projects</li>
          <li>150 GB Storage</li>
          <li>Phone & Email Support</li>
      </ul>
  </div>
  <div class="pricing-card">
      <h2>Academic</h2>
      <p class="price">$315/mo</p>
      <ul class="features">
          <li>Custom Projects</li>
          <li>Unlimited Storage</li>
          <li>24/7 Support</li>
      </ul>
  </div>
  <div class="pricing-card">
      <h2>Scholar</h2>
      <p class="price">$715/mo</p>
      <ul class="features">
          <li>Custom Projects</li>
          <li>Unlimited Storage</li>
          <li>24/7 Support</li>
      </ul>
  </div>
</section>

<%= render "layouts/footer" %>