<% comments.order("created_at desc").each do |comment| %>
  <div class="comment-user-details">
    <%= image_tag(comment.user.avatar_url) %>
    <div>
      <h5><%= capitalize_string(comment.user.full_name) %></h5>
      <span style="font-size: 12px"><%= formattedDateTime(comment.created_at) %></span>
    </div>
  </div>
  <p><%= capitalize_string(comment.content) %></p>
<% end %>