<!-- app/views/subscription_mailer/new_subscription_request.html.erb -->

<p>Hello Admin,</p>
<p>A new subscription request has been made by <%= @user.email %>.</p>
<p>Please log in to the administration panel to review and approve it.</p>
