<!-- app/views/subscription_mailer/new_subscription_request.html.erb -->

<p>Hello <%= @user.email %>,</p>
<p>Your subscription request has been approved.</p>
<p>Please log in to your account to continue using the app.</p>
